<footer class="site-footer">
  <div class="wrap">
    <div class="footer-grid">
      <div class="footer-brand">
        <img src="/assets/img/syon-mark.png" alt="Syon Incorporações">
        <p>Incorporadora do MTM Group. Empreendimentos residenciais e comerciais no Rio de Janeiro e em Balneário Camboriú.</p>
      </div>
      <div class="footer-col">
        <h4>Navegação</h4>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/empreendimentos">Empreendimentos</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contato</h4>
        <ul>
          <li><p>contato@syon.example.com.br</p></li>
          <li><p>Rio de Janeiro / Balneário Camboriú</p></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 Syon Incorporações. Todos os direitos reservados.</span>
      <span>Parte do ecossistema MTM Group</span>
    </div>
  </div>
</footer>
